<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714610393483-4ji40ejhv9tvt62t7coi0gcm5hn848a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714610393483-4ji40ejhv9tvt62t7coi0gcm5hn848a0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714610393483-8k3ribubed84cnjaokoa5cg7l5lq9qo2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAKnbB-Fn45m4SiMIS5hrT3Qlwy980tt8</string>
	<key>GCM_SENDER_ID</key>
	<string>714610393483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tvis</string>
	<key>PROJECT_ID</key>
	<string>tvis-d8f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>tvis-d8f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714610393483:ios:fd3c9f1cec0b252702ef8e</string>
</dict>
</plist>